.App {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #ffeb3b 25%, #ff9800 60%, #e91e63 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
